In [1]:
import numpy as np
import pandas as pd
import torch
from scipy.sparse import save_npz, load_npz
import os
import json

/home/schufan1/.conda/envs/melloddy_peipeline_dev/lib/python3.8/site-packages/tqdm/auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
from melloddy_tuner.utils.single_row_prep2pred import SingleRowPreparator
from  melloddy_predictor.predictor_single import PredictorSingle

from melloddy_tuner.tunercli import do_prepare_prediction_online

from melloddy_tuner.utils.standardizer import Standardizer
from melloddy_tuner.utils.descriptor_calculator import DescriptorCalculator

Specify environment and paths

In [3]:
#conda environment to use when running shell script for reference output
conda_env = " melloddy_peipeline_dev"

root_path = "/home/schufan1/projects/Melloddy/git_repos/melloddy_predictor"
test_path = os.path.join(root_path,"tests/begin_to_end_test")
model_path = os.path.join(root_path,"inputs/models")
config_path = os.path.join(root_path,"inputs/config")

params_file = os.path.join(config_path,"example_parameters.json")
key_file = os.path.join(config_path,"example_key.json")

tunercli_path = "/home/schufan1/projects/Melloddy/git_repos/data_prep/melloddy_tuner"
predict_py_path = "/home/schufan1/projects/Melloddy/git_repos/sparsechem/sparsechem"

read input data

In [4]:
smiles_df = pd.read_csv(os.path.join(test_path,"T2_100samples.csv"))
smiles_df.head()

,Unnamed: 0,input_compound_id,smiles
0,80540,836392,Cc1ccc2ncccc2c1
1,319232,1835024,CCNC(=O)c1cc(C(C)Nc2cc(F)cc(F)c2)c3OC(=CC(=O)c...
2,89421,829337,CCOc1ccc(cc1)C(=O)c2cc(ccc2N3CCOCC3)[N+](=O)[O-]
3,353802,1020194,Oc1nc(CSc2nnc(Cc3ccccc3)n2CC=C)nc4ccccc14
4,466566,1520639,Cc1cc(nn1c2cccc(Oc3ccc(cc3C#N)S(=O)(=O)Nc4nccs...

pepare the x-matrix with conventional functions

In [5]:
x_matrix, df_failed, mapping_table = do_prepare_prediction_online(input_structure = smiles_df, key_path = key_file, config_file = params_file, num_cpu = 1)

mt_out_folder = os.path.join(test_path, "mt_output")
os.makedirs(mt_out_folder,exist_ok=True)
save_npz(os.path.join(mt_out_folder,"pred_x.npz"), x_matrix)
mapping_table.to_csv(os.path.join(mt_out_folder,"mapping_table.csv"),index=False)

Read new config file.
Read new key file.

create script to generate reference output

In [6]:
script = """
conda activate {cenv}

cd {sp_path}
mkdir -p {test_path}/sc_output
python predict.py --x {test_path}/mt_output/pred_x.npz --dev cpu --conf {model_path}/example_cls_model/hyperparameters.json --model {model_path}/example_cls_model/model.pth --outprefix {test_path}/sc_output/cls_model
python predict.py --x {test_path}/mt_output/pred_x.npz --dev cpu --conf {model_path}/example_clsaux_model/hyperparameters.json --model {model_path}/example_clsaux_model/model.pth --outprefix {test_path}/sc_output/clsaux_model
python predict.py --x {test_path}/mt_output/pred_x.npz --dev cpu --conf {model_path}/example_reg_model/hyperparameters.json --model {model_path}/example_reg_model/model.pth --outprefix {test_path}/sc_output/reg_model --inverse_normalization 1
python predict.py --x {test_path}/mt_output/pred_x.npz --dev cpu --conf {model_path}/example_hyb_model/hyperparameters.json --model {model_path}/example_hyb_model/model.pth --outprefix {test_path}/sc_output/hyb_model --inverse_normalization 1
"""
ref_gen_sh = script.format(tcpath=tunercli_path,test_path=test_path,pfile=params_file,kfile=key_file,sp_path=predict_py_path,model_path=model_path,cenv=conda_env)
ref_gen_sh

'\nconda activate  melloddy_peipeline_dev\n\ncd /home/schufan1/projects/Melloddy/git_repos/sparsechem/sparsechem\nmkdir -p /home/schufan1/projects/Melloddy/git_repos/melloddy_predictor/tests/begin_to_end_test/sc_output\npython predict.py --x /home/schufan1/projects/Melloddy/git_repos/melloddy_predictor/tests/begin_to_end_test/mt_output/pred_x.npz --dev cpu --conf /home/schufan1/projects/Melloddy/git_repos/melloddy_predictor/inputs/models/example_cls_model/hyperparameters.json --model /home/schufan1/projects/Melloddy/git_repos/melloddy_predictor/inputs/models/example_cls_model/model.pth --outprefix /home/schufan1/projects/Melloddy/git_repos/melloddy_predictor/tests/begin_to_end_test/sc_output/cls_model\npython predict.py --x /home/schufan1/projects/Melloddy/git_repos/melloddy_predictor/tests/begin_to_end_test/mt_output/pred_x.npz --dev cpu --conf /home/schufan1/projects/Melloddy/git_repos/melloddy_predictor/inputs/models/example_clsaux_model/hyperparameters.json --model /home/schufan1/projects/Melloddy/git_repos/melloddy_predictor/inputs/models/example_clsaux_model/model.pth --outprefix /home/schufan1/projects/Melloddy/git_repos/melloddy_predictor/tests/begin_to_end_test/sc_output/clsaux_model\npython predict.py --x /home/schufan1/projects/Melloddy/git_repos/melloddy_predictor/tests/begin_to_end_test/mt_output/pred_x.npz --dev cpu --conf /home/schufan1/projects/Melloddy/git_repos/melloddy_predictor/inputs/models/example_reg_model/hyperparameters.json --model /home/schufan1/projects/Melloddy/git_repos/melloddy_predictor/inputs/models/example_reg_model/model.pth --outprefix /home/schufan1/projects/Melloddy/git_repos/melloddy_predictor/tests/begin_to_end_test/sc_output/reg_model --inverse_normalization 1\npython predict.py --x /home/schufan1/projects/Melloddy/git_repos/melloddy_predictor/tests/begin_to_end_test/mt_output/pred_x.npz --dev cpu --conf /home/schufan1/projects/Melloddy/git_repos/melloddy_predictor/inputs/models/example_hyb_model/hyperparameters.json --model /home/schufan1/projects/Melloddy/git_repos/melloddy_predictor/inputs/models/example_hyb_model/model.pth --outprefix /home/schufan1/projects/Melloddy/git_repos/melloddy_predictor/tests/begin_to_end_test/sc_output/hyb_model --inverse_normalization 1\n'

In [7]:
script_file_name = os.path.join(test_path,"make_reference_output.sh")
with open(script_file_name ,"w") as script_file:
    script_file.write(ref_gen_sh)

**You need now to generate you reference outpt as egnerated through the command line tools** . Launch the command as generated by the output below in a shell

In [8]:
print("source "+script_file_name)

source /home/schufan1/projects/Melloddy/git_repos/melloddy_predictor/tests/begin_to_end_test/make_reference_output.sh

Read the reference input

generate X-input from smiles

In [9]:
my_srprep = SingleRowPreparator(params_file, key_file)

In [10]:
x_tensors_test = {k:my_srprep.process_smiles(smi) for k,smi in smiles_df.set_index("input_compound_id")["smiles"].items()}

In [11]:
x_dataframe_test = pd.concat({ix:pd.Series(v.to_dense().numpy()[0]) for ix,v in x_tensors_test.items()}).unstack().astype("int8")

In [12]:
x_dataframe_test

,0,1,2,3,4,5,6,7,8,9,...,31990,31991,31992,31993,31994,31995,31996,31997,31998,31999
836392,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1835024,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
829337,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1020194,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1520639,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
919493,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
957133,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
900391,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1017936,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
988752,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

load the reference x_csr matrix

In [13]:
x_csr_ref = load_npz(os.path.join(test_path,"mt_output/pred_x.npz"))

In [14]:
x_ndarray_ref = x_csr_ref.toarray()

In [15]:
x_dataframe_ref = pd.DataFrame(x_ndarray_ref).rename(index=mapping_table.set_index("cont_descriptor_vector_id")["input_compound_id"])
x_dataframe_ref

,0,1,2,3,4,5,6,7,8,9,...,31990,31991,31992,31993,31994,31995,31996,31997,31998,31999
3049,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9191,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
66045,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
114698,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
232954,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2191976,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2202594,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2219702,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2247898,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2253205,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

compare x-matrices

In [16]:
x_mat_test = np.equal(x_dataframe_test.sort_index().values, x_dataframe_ref.sort_index().values).all()
x_mat_test

True

### Test the predictions

Define some task slices for testing

In [17]:
class_task_map = {'class_570':570,'class_581':581,'class_2276':2276}
regr_task_map = {"regr_633":633,"regr_740":740,"regr_2":2}

In [18]:
my_preds = {'cls' : PredictorSingle(model= os.path.join(model_path,"example_cls_model/model.pth"), conf=os.path.join(model_path,"example_cls_model/hyperparameters.json"), class_task_map = class_task_map),\
           'clsaux' : PredictorSingle(model= os.path.join(model_path,"example_clsaux_model/model.pth"), conf=os.path.join(model_path,"example_clsaux_model/hyperparameters.json"), class_task_map = class_task_map),\
           'reg' : PredictorSingle(model= os.path.join(model_path,"example_reg_model/model.pth"), conf=os.path.join(model_path,"example_reg_model/hyperparameters.json"), regr_task_map = regr_task_map),\
           'hyb' : PredictorSingle(model= os.path.join(model_path,"example_hyb_model/model.pth"), conf=os.path.join(model_path,"example_hyb_model/hyperparameters.json"), class_task_map = class_task_map, regr_task_map = regr_task_map)
          }

In [19]:
cls_res = {}
reg_res = {}
for mtype, my_pred in my_preds.items():
    for ix, x_tens in x_tensors_test.items():
        y_class_array, y_regr_array = my_pred.predict_from_tensor(x_tens)
        if y_class_array.shape[1] > 0:
            if not mtype in cls_res:
                cls_res[mtype] = {}
            cls_res[mtype][ix] = y_class_array
        if y_regr_array.shape[1] > 0:
            if not mtype in reg_res:
                reg_res[mtype] = {}
            reg_res[mtype][ix] = y_regr_array

In [20]:
cls_res.keys()

dict_keys(['cls', 'clsaux', 'hyb'])

In [21]:
cls_res_df_test = {mtype : pd.concat({i: pd.Series(j[0]) for i,j in cls_res[mtype].items()}).unstack() for mtype in cls_res.keys()}
reg_res_df_test = {mtype : pd.concat({i: pd.Series(j[0]) for i,j in reg_res[mtype].items()}).unstack() for mtype in reg_res.keys()}

Read in reference prediction output

In [22]:
y_refs_class = {"cls":np.load(os.path.join(test_path,"sc_output/cls_model-class.npy")),\
                "clsaux": np.load(os.path.join(test_path,"sc_output/clsaux_model-class.npy")),\
                "hyb": np.load(os.path.join(test_path,"sc_output/hyb_model-class.npy"))}
y_refs_regr = {"reg": np.load(os.path.join(test_path,"sc_output/reg_model-regr.npy")),\
               "hyb": np.load(os.path.join(test_path,"sc_output/hyb_model-regr.npy"))}

In [23]:
y_refs_class_dfs = {mtype : pd.DataFrame(y).rename(index=mapping_table.set_index("cont_descriptor_vector_id")["input_compound_id"]) for mtype, y in y_refs_class.items()}
y_refs_regr_dfs = {mtype : pd.DataFrame(y).rename(index=mapping_table.set_index("cont_descriptor_vector_id")["input_compound_id"]) for mtype, y in y_refs_regr.items()}

In [24]:
res_class = {mtype : np.allclose(y_df_test.sort_index().values,y_refs_class_dfs[mtype].sort_index().values) for mtype, y_df_test in cls_res_df_test.items()}
res_class

{'cls': True, 'clsaux': True, 'hyb': True}

We reproduce the classification predictions exactly, as values above a true

In [25]:
res_regr = {mtype : np.allclose(y_df_test.sort_index().values,y_refs_regr_dfs[mtype].sort_index().values) for mtype, y_df_test in reg_res_df_test.items()}
res_regr

{'reg': False, 'hyb': False}

We fail however to reproduce regression results, as the values above are false. This could be due to sparsechem issue https://github.com/melloddy/SparseChem/issues/5, meaning that the dense predictions from predict.py are not inversely normnalized. Let's try to normalize those reference predictions ourselves and then retry

In [26]:
y_refs_regr_inorm_dfs = {mtype : y*my_preds[mtype].reg_stddev + my_preds[mtype].reg_mean for mtype,y in y_refs_regr_dfs.items()}

In [27]:
y_refs_regr_inorm = {mtype : y*my_preds[mtype].reg_stddev + my_preds[mtype].reg_mean for mtype,y in y_refs_regr.items()}

In [28]:
res_regr_inorm = {mtype : np.allclose(y_df_test.sort_index().values,y_refs_regr_inorm_dfs[mtype].sort_index().values) for mtype, y_df_test in reg_res_df_test.items()}
res_regr_inorm

{'reg': False, 'hyb': False}

Still not working!!

In [29]:
(y_refs_regr_inorm_dfs['reg'].sort_index()-reg_res_df_test['reg'].sort_index()).max()[~colmask]

NameError: name 'colmask' is not defined

In [ ]:
colmask = ((reg_res_df_test['reg'] > 10) | (reg_res_df_test['reg'] < 3)).sum(axis=0) == 0

In [ ]:
res_regr_inorm = {mtype : np.allclose(y_df_test.sort_index().values[:,colmask],y_refs_regr_inorm_dfs[mtype].sort_index().values[:,colmask]) for mtype, y_df_test in reg_res_df_test.items()}
res_regr_inorm

### Test single row predictor object

In [30]:
%%time
y_res_slice = {}
for k,smi in smiles_df.set_index("input_compound_id")["smiles"].items():
    try: 
        x = my_srprep.process_smiles(smi)
        y = my_preds["hyb"].predict_decorated_series_from_tensor(x)
        y_res_slice[k] = y
    except Error as e:
        print("prediction for {0} raised and error {1}".format(k, e.str()))

CPU times: user 7.98 s, sys: 105 ms, total: 8.09 s
Wall time: 2.58 s

In [35]:
res_slice_df = pd.concat(y_res_slice).unstack()
res_slice_df.index.names = ['input_compound_id']
res_slice_df.to_csv(os.path.join(test_path,"selected_hyb_tasks.csv"),index=True)

In [36]:
res_slice_df

,class_570,class_581,class_2276,regr_633,regr_740,regr_2
input_compound_id,,,,,,
836392,0.814243,0.213220,0.555285,5.114699,5.748567,7.385056
1835024,0.841196,0.189192,0.562768,5.087078,5.774441,7.385956
829337,0.828839,0.200996,0.560033,5.113453,5.708556,7.420972
1020194,0.851953,0.175556,0.568667,5.072211,5.768991,7.449050
1520639,0.872097,0.157126,0.558764,5.018607,5.680398,7.497678
...,...,...,...,...,...,...
919493,0.849731,0.181813,0.561870,5.112306,5.775471,7.416934
957133,0.840661,0.190407,0.561584,5.033664,5.751797,7.442468
900391,0.848774,0.176245,0.569453,5.058213,5.769406,7.258992
1017936,0.849684,0.176020,0.569383,5.080457,5.745005,7.409099
988752,0.853044,0.173169,0.565193,5.029567,5.722145,7.441297

In [37]:
pd.read_csv(os.path.join(test_path,"selected_hyb_tasks.csv"),index_col = "input_compound_id")

,class_570,class_581,class_2276,regr_633,regr_740,regr_2
input_compound_id,,,,,,
836392,0.814243,0.213220,0.555285,5.114699,5.748567,7.385056
1835024,0.841196,0.189192,0.562768,5.087078,5.774441,7.385956
829337,0.828839,0.200996,0.560033,5.113453,5.708556,7.420972
1020194,0.851953,0.175556,0.568667,5.072211,5.768991,7.449050
1520639,0.872097,0.157126,0.558764,5.018607,5.680398,7.497678
...,...,...,...,...,...,...
919493,0.849731,0.181813,0.561870,5.112306,5.775471,7.416934
957133,0.840661,0.190407,0.561584,5.033664,5.751797,7.442468
900391,0.848774,0.176245,0.569453,5.058213,5.769406,7.258992
1017936,0.849684,0.176020,0.569383,5.080457,5.745005,7.409099
988752,0.853044,0.173169,0.565193,5.029567,5.722145,7.441297

In [32]:
smiles_failing_df = pd.read_csv(os.path.join(test_path,"T2_100samples_failing.csv"))
smiles_failing_df.head()

,Unnamed: 0,input_compound_id,smiles
0,80540,1376019,CC[C@H](C)[C@H](NC(=O)[C@H](CCC(=O)O)NC(=O)[C@...
1,319232,1835024,CCNC(=O)c1cc(C(C)Nc2cc(F)cc(F)c2)c3OC(=CC(=O)c...
2,89421,829337,CCOc1ccc(cc1)C(=O)c2cc(ccc2N3CCOCC3)[N+](=O)[O-]
3,353802,1020194,Oc1nc(CSc2nnc(Cc3ccccc3)n2CC=C)nc4ccccc14
4,466566,1520639,Cc1cc(nn1c2cccc(Oc3ccc(cc3C#N)S(=O)(=O)Nc4nccs...

In [67]:
%%time
y_failing_res_slice = {}
for k,smi in smiles_failing_df.set_index("input_compound_id")["smiles"].items():
    try: 
        x = my_srprep.process_smiles(smi)
        y = my_preds["hyb"].predict_decorated_series_from_tensor(x)
        y_failing_res_slice[k] = y
    except Exception as e:
        print("prediction for {0} raised an {1}: {2}".format(k, type(e), e))

prediction for 1376019 raised an <class 'melloddy_tuner.utils.standardizer.MTStandardizerError'>: number of non-H atoms 155 exceeds limit of 100 for smiles CC[C@H](C)[C@H](NC(=O)[C@H](CCC(=O)O)NC(=O)[C@H](CCC(=O)O)NC(=O)[C@H](Cc1ccccc1)NC(=O)[C@H](CC(=O)O)NC(=O)CNC(=O)[C@H](CC(=O)N)NC(=O)CNC(=O)CNC(=O)CNC(=O)CNC(=O)[C@@H]2CCCN2C(=O)[C@H](CCCNC(=N)N)NC(=O)[C@@H]3CCCN3C(=O)[C@H](N)Cc4ccccc4)C(=O)N5CCC[C@H]5C(=O)N[C@@H](CCC(=O)O)C(=O)N[C@@H](CCC(=O)O)C(=O)N[C@@H](Cc6ccc(O)cc6)C(=O)N[C@@H](CC(C)C)C(=O)O
CPU times: user 7.95 s, sys: 116 ms, total: 8.07 s
Wall time: 2.56 s

In [34]:
pd.concat(y_failing_res_slice).unstack()

         class_570  class_581  class_2276  regr_633  regr_740    regr_2
1835024   0.841196   0.189192    0.562768  5.087078  5.774441  7.385956
829337    0.828839   0.200996    0.560033  5.113453  5.708556  7.420972
1020194   0.851953   0.175556    0.568667  5.072211  5.768991  7.449050
1520639   0.872097   0.157126    0.558764  5.018607  5.680398  7.497678
2049911   0.833000   0.188471    0.562365  5.115741  5.738357  7.435460
...            ...        ...         ...       ...       ...       ...
919493    0.849731   0.181813    0.561870  5.112306  5.775471  7.416934
957133    0.840661   0.190407    0.561584  5.033664  5.751797  7.442468
900391    0.848774   0.176245    0.569453  5.058213  5.769406  7.258992
1017936   0.849684   0.176020    0.569383  5.080457  5.745005  7.409099
988752    0.853044   0.173169    0.565193  5.029567  5.722145  7.441297

[99 rows x 6 columns]

In [35]:
my_srprep_trusting = SingleRowPreparator(params_file, key_file, trust_standardization = True)

In [36]:
%%time
y_trusting_res_slice = {}
for k,smi in smiles_df.set_index("input_compound_id")["smiles"].items():
    try: 
        x = my_srprep_trusting.process_smiles(smi)
        y = my_preds["hyb"].predict_decorated_series_from_tensor(x)
        y_trusting_res_slice[k] = y
    except Exception as e:
        print("prediction for {0} raised and error {1}".format(k, e))

CPU times: user 1.05 s, sys: 24.9 ms, total: 1.07 s
Wall time: 271 ms

In [37]:
pd.concat(y_trusting_res_slice).unstack() - pd.concat(y_res_slice).unstack()

         class_570  class_581  class_2276  regr_633  regr_740    regr_2
836392    0.000000   0.000000    0.000000  0.000000  0.000000  0.000000
1835024   0.000000   0.000000    0.000000  0.000000  0.000000  0.000000
829337    0.000000   0.000000    0.000000  0.000000  0.000000  0.000000
1020194   0.001089  -0.002090   -0.005674  0.010433 -0.021576 -0.018451
1520639   0.000000   0.000000    0.000000  0.000000  0.000000  0.000000
...            ...        ...         ...       ...       ...       ...
919493    0.000000   0.000000    0.000000  0.000000  0.000000  0.000000
957133    0.000000   0.000000    0.000000  0.000000  0.000000  0.000000
900391    0.000000   0.000000    0.000000  0.000000  0.000000  0.000000
1017936   0.000000   0.000000    0.000000  0.000000  0.000000  0.000000
988752   -0.006572   0.011181   -0.002451  0.029241  0.010537  0.041118

[100 rows x 6 columns]

In [39]:
pd.read_csv(os.path.join(mt_out_folder,"mapping_table.csv"))

,Unnamed: 0,input_compound_id,descriptor_vector_id,cont_descriptor_vector_id
0,36,3049,1,0
1,63,9191,2,1
2,40,66045,3,2
3,74,114698,4,3
4,59,232954,5,4
...,...,...,...,...
95,85,2191976,96,95
96,12,2202594,97,96
97,7,2219702,98,97
98,43,2247898,99,98
99,27,2253205,100,99

In [101]:
y_refs_selected_class_tasks = y_refs_class["hyb"][:,np.array(list(class_task_map.values()))]
y_refs_selected_regr_tasks = y_refs_regr_inorm["hyb"][:,np.array(list(regr_task_map.values()))]

In [102]:
y_refs_select_class_df = pd.DataFrame(y_refs_selected_class_tasks, columns = list(class_task_map.keys())).rename(index=mapping_table.set_index("cont_descriptor_vector_id")["input_compound_id"])
y_refs_select_class_df

         class_570  class_581  class_2276
3049      0.818370   0.214601    0.562530
9191      0.845901   0.187478    0.560896
66045     0.853141   0.163051    0.567386
114698    0.829848   0.199199    0.561612
232954    0.832156   0.200254    0.561597
...            ...        ...         ...
2191976   0.835721   0.192656    0.560472
2202594   0.834873   0.188110    0.561768
2219702   0.828518   0.201798    0.559947
2247898   0.843859   0.184133    0.551687
2253205   0.846179   0.191160    0.559122

[100 rows x 3 columns]

In [103]:
y_refs_select_regr_df = pd.DataFrame(y_refs_selected_regr_tasks, columns = list(regr_task_map.keys())).rename(index=mapping_table.set_index("cont_descriptor_vector_id")["input_compound_id"])
y_refs_select_regr_df

         regr_633  regr_740    regr_2
3049     5.080886  5.667017  7.350653
9191     5.084706  5.748216  7.430662
66045    5.091597  5.746356  7.417037
114698   5.148383  5.744048  7.368518
232954   5.077853  5.720345  7.393316
...           ...       ...       ...
2191976  5.110345  5.744129  7.433819
2202594  5.130577  5.673829  7.409796
2219702  5.139152  5.713923  7.374331
2247898  5.052619  5.723153  7.411564
2253205  5.068156  5.711381  7.339455

[100 rows x 3 columns]

In [104]:
res_slice_ref_df = pd.concat([y_refs_select_class_df, y_refs_select_regr_df],axis=1)
res_slice_ref_df.sort_index()

         class_570  class_581  class_2276  regr_633  regr_740    regr_2
3049      0.818370   0.214601    0.562530  5.080886  5.667017  7.350653
9191      0.845901   0.187478    0.560896  5.084706  5.748216  7.430662
66045     0.853141   0.163051    0.567386  5.091597  5.746356  7.417037
114698    0.829848   0.199199    0.561612  5.148383  5.744048  7.368518
232954    0.832156   0.200254    0.561597  5.077853  5.720345  7.393316
...            ...        ...         ...       ...       ...       ...
2191976   0.835721   0.192656    0.560472  5.110345  5.744129  7.433819
2202594   0.834873   0.188110    0.561768  5.130577  5.673829  7.409796
2219702   0.828518   0.201798    0.559947  5.139152  5.713923  7.374331
2247898   0.843859   0.184133    0.551687  5.052619  5.723153  7.411564
2253205   0.846179   0.191160    0.559122  5.068156  5.711381  7.339455

[100 rows x 6 columns]

In [105]:
from pandas._testing import assert_frame_equal

In [112]:
assert_frame_equal(res_slice_df.sort_index().astype("float32"), res_slice_ref_df.sort_index().astype("float32"))